/* Add these styles to your stylesheet */

body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.report-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    background: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.5); /* Adjust the opacity as needed */
}

.submit-button {
    background: linear-gradient(to right, #67e0dd, #a6d8df, #c5e8e2);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirmation-dialog {
    background: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.confirm-button,
.cancel-button {
    background: linear-gradient(to right, #a6d8df, #c5e8e2);
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancel-button {
    background: #ccc;
}
